[Desktop Entry]
Encoding=UTF-8
Name=Title Network
Comment=Connect to the Title Network P2P Network
Comment[de]=Verbinde mit dem Title Network peer-to-peer Netzwerk
Comment[fr]=Title Network, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Title Network, eşten eşe kriptografik sanal para birimi
Exec=title-qt %u
Terminal=false
Type=Application
Icon=title128
MimeType=x-scheme-handler/titlenetwork;
Categories=Office;Finance;
